<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Your Password</title>
</head>
<body>
<div>
  <h2>Reset Your Password</h2>
</div>

<form th:action="@{/api/v1/customers/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
  <input type="hidden" name="token" th:value="${token}" />
  <div class="border border-secondary rounded p-3">
    <div>
      <p>
        <input type="password" name="password" id="password" class="form-control"
               placeholder="Enter your new password" required autofocus />
      </p>
      <p>
        <input type="password" id="confirmedPassword" class="form-control" placeholder="Confirm your new password"
               required oninput="checkPasswordMatch();" />
        <span id="passwordError" style="color: red;"></span>
      </p>
      <p class="text-center">
        <input type="submit" value="Change Password" class="btn btn-primary" />
      </p>
      <input type="checkbox" onclick="showPwd()">Show Fields

    </div>
  </div>
</form>
</body>
<script>
  function checkPasswordMatch() {
    var password = document.getElementById("password");
    var confirmedPassword = document.getElementById("confirmedPassword");
    var passwordError = document.getElementById("passwordError");

    if (password.value !== confirmedPassword.value) {
      passwordError.textContent = "Passwords do not match!";
      confirmedPassword.setCustomValidity("Passwords do not match!");
    } else {
      passwordError.textContent = "";
      confirmedPassword.setCustomValidity("");
    }
  }
  function showPwd() {
    var password = document.getElementById("password");
    var confirmedPassword = document.getElementById("confirmedPassword");

    if (password.type === "password") {
      password.type = "text";
      confirmedPassword.type = "text";
    } else {
      password.type = "password";
      confirmedPassword.type = "password";
    }
  }
</script>
</html>
